In [ ]:
glaxo_df = pd.read_csv('/content/GLAXO.csv')
beml_df = pd.read_csv('/content/BEML.csv')

In [ ]:
glaxo_df

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11
...,...,...,...,...,...,...,...,...
1734,2016-12-26,2703.00,2740.00,2677.00,2715.0,2723.50,3953.0,107.15
1735,2016-12-27,2722.95,2725.00,2683.00,2692.0,2701.75,10600.0,286.10
1736,2016-12-28,2701.75,2718.00,2690.00,2698.0,2702.15,6050.0,163.44
1737,2016-12-29,2702.05,2739.00,2691.95,2710.0,2727.90,7649.0,207.87
1738,2016-12-30,2730.00,2740.45,2705.00,2730.0,2729.80,6513.0,177.65

In [ ]:
beml_df = beml_df[['Date','Close']]
glaxo_df = glaxo_df[['Date','Close']]

In [ ]:
glaxo_df = glaxo_df.set_index(pd.DatetimeIndex(glaxo_df['Date']))
beml_df = beml_df.set_index(pd.DatetimeIndex(beml_df['Date']))

In [ ]:
from scipy import stats
import pandas as pd 
import numpy as np
import scipy

In [ ]:
glaxo_df['Gain'] = glaxo_df.Close.pct_change(periods = 1)
beml_df['Gain'] = beml_df.Close.pct_change(periods = 1)

In [ ]:
glaxo_df= glaxo_df.dropna()
beml_df = beml_df.dropna()

In [ ]:
glaxo_df

                  Date    Close      Gain
Date
2010-01-05  2010-01-05  1616.80 -0.005444
2010-01-06  2010-01-06  1638.50  0.013422
2010-01-07  2010-01-07  1648.70  0.006225
2010-01-08  2010-01-08  1639.80 -0.005398
2010-01-11  2010-01-11  1629.45 -0.006312
...                ...      ...       ...
2016-12-26  2016-12-26  2723.50 -0.001283
2016-12-27  2016-12-27  2701.75 -0.007986
2016-12-28  2016-12-28  2702.15  0.000148
2016-12-29  2016-12-29  2727.90  0.009529
2016-12-30  2016-12-30  2729.80  0.000697

[1738 rows x 3 columns]

In [ ]:
beml_df

                  Date    Close      Gain
Date
2010-01-05  2010-01-05  1134.60 -0.000881
2010-01-06  2010-01-06  1139.60  0.004407
2010-01-07  2010-01-07  1144.15  0.003993
2010-01-08  2010-01-08  1144.05 -0.000087
2010-01-11  2010-01-11  1137.00 -0.006162
...                ...      ...       ...
2016-12-26  2016-12-26   950.25 -0.021924
2016-12-27  2016-12-27   975.70  0.026782
2016-12-28  2016-12-28   974.40 -0.001332
2016-12-29  2016-12-29   986.05  0.011956
2016-12-30  2016-12-30  1000.60  0.014756

[1738 rows x 3 columns]

In [ ]:
glaxo_df_ci = stats.norm.interval(0.95, loc = glaxo_df.Gain.mean(), scale = glaxo_df.Gain.std())
print('gain at 95% confidence interval is',np.round(glaxo_df_ci, 4))

gain at 95% confidence interval is [-0.0258  0.0266]

In [ ]:
beml_df_ci = stats.norm.interval(0.95, loc = beml_df.Gain.mean(), scale = beml_df.Gain.std())
print('gain at 95% confidence interval is', np.round(beml_df_ci, 4))

gain at 95% confidence interval is [-0.0515  0.0521]

In [ ]:
glaxo_df_ci

(-0.025800133293883157, 0.02657221545906774)

In [ ]:
beml_df_ci

(-0.051532729680601415, 0.05207422583871588)

In [ ]:
2*stats.t.cdf(-0.47,df=49)

0.640440149558531

In [ ]:
t = (4-7.2)/(3/np.sqrt(50))

In [ ]:
print(t)

-7.542472332656508

In [ ]:
# Hypothesis testing

In [ ]:
data = pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [ ]:
print([data])

[0    0.593
1    0.142
2    0.329
3    0.691
4    0.231
5    0.793
6    0.519
7    0.392
8    0.418
dtype: float64]

In [ ]:
# two tail test so divide by 2
p=scipy.stats.ttest_1samp(data,0.3)[1]

In [ ]:
p_value = p/2

In [ ]:
p_value

0.029265164842448826

two sample and two tail

In [ ]:
control = pd.Series([91, 87, 99, 77, 88, 91])
treat = pd.Series([101, 110, 103, 93, 99, 104])

In [ ]:
stats.ttest_ind(control,treat)

Ttest_indResult(statistic=-3.445612673536487, pvalue=0.006272124350809803)

In [ ]:
# two tail = 0.00627, since its less than alpha(0.05) reject H0

2 proportion t test

In [ ]:
n1 = 247
p1 = .37

n2 = 308
p2 = .39

In [ ]:
pop1 = np.random.binomial (1, p1, n1)
pop2 = np.random.binomial(1, p2, n2)

In [ ]:
pop1

array([0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0])

In [ ]:
import statsmodels.api as sm
sm.stats.ttest_ind(pop1,pop2)

(-0.9774429604080929, 0.32877729504768005, 553.0)